html 
  head
    title Library
  body 
    if status===200
      table(style={border:"1px solid black",width:"fit-content", "margin-left": "auto",
      "margin-right": "auto"})
        tr
          th(style={border:"1px solid black",padding:"10px"}) ID 
          th(style={border:"1px solid black",padding:"10px"}) Name
    
        tr
            td(style={border:"1px solid black",padding:"10px"}) #{data.id} 
            td(style={border:"1px solid black",padding:"10px"}) #{data.name}
    else 
      h3(style={color:"red"})=message 